SKC_PUBLIC_URL=
SKC_DB_HOST=localhost
SKC_DB_USER=
SKC_DB_PASS=
SKC_DB_NAME=
SKC_DB_CHARSET=utf8mb4
SKC_DB_PREFIX=wp_
SKC_MAGIC_LOGIN_TOKEN=
SKC_INVENTORY_API_TOKEN=

META_GRAPH_VERSION=v25.0
META_ACCESS_TOKEN=
META_IG_USER_ID=
META_FB_PAGE_ID=
META_FB_PAGE_ACCESS_TOKEN=

GOOGLE_YOUTUBE_CLIENT_ID=
GOOGLE_YOUTUBE_CLIENT_SECRET=
GOOGLE_YOUTUBE_REDIRECT_URI=
GOOGLE_YOUTUBE_CHANNEL_ID=
GOOGLE_YOUTUBE_CHANNEL_NAME=
GOOGLE_YOUTUBE_TOKEN_KEY=

SKC_TRACKING_GEO=1
SKC_TRACKING_ALLOWED_ORIGINS=

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=
TIKTOK_SCOPES=user.info.basic,video.list
TIKTOK_TOKEN_KEY=
